<div ng-controller="PhotoDetailsCtrl as vm">
    <nav-bar delegate="vm"></nav-bar>
    <div class="container" style="padding-top: 72px">
        <div class="row">
           <div class="col-md-4 ">
               4
           </div>
            <div class="col-md-4 col-md-offset-5">
                <style>
                    <div class="box-header"><h3>Box Header</h3><small>Sub title goes here with small font</small></div>
                </style>
            </div>
            <div class="col-md-4 col-md-offset-5">
                4
            </div>
        </div>
    </div>
</div>
